<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<a href="/"></a>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/about">About</a>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
  <a href="/all_uploads">All Uploads</a>
  <a href="/signout">Sign Out</a>
  <a href="/comments">Comments</a>
</div>

<body>
    <!-- creating blog style layout home page -->
   <div class="header">
  <h2>Welcome To Maya's Blog</h2>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <h2>The Best Skincare For All Skin Types</h2>
      <h5>Published August 3rd, 2022</h5>
      <p>Finding the perfect skincare for your skin type is a very difficult task. That is why I created this post, in order to help you find what works for you...</p>
      <div class="fakeimg" style="height:200px;"><!-- <img src="static/serum.jpeg"> -->
  </div>
    </div>

  </div>
  <div class="column">
      <div class="card">
          <h2>My Top 10 Books </h2>
          <h5>Published August 3rd, 2022</h5>
          <p>I've read hundreds of books in my lifetime, so I think that I have the ability to judge books and give you the best recommendations. These books will be in varying genres...</p>
          <div class="fakeimg" style="height:200px;"><!-- <img src="static/books.jpg"> --></div>
      </div>
  </div>

  <div class="column">
      <div class="card">
          <h2>Summer Outfit Guide</h2>
          <h5>Published August 4th, 2022</h5>
          <p>Finding the perfect outfit in the summer that is both adaptable to the heat, colourful and fun, and that you feel good and confident in can be a bit of a difficult task. Here I have compiled the perfect guide...</p>
          <div class="fakeimg" style="height:200px;"><!-- <img src="static/books.jpg"> --></div>
      </div>
  </div>


  <div class="column">
      <div class="card">
          <h2>My Favourite Restaurants </h2>
          <h5>Published August 4th, 2022</h5>
          <p>I absolutely adore going out to new places and trying new foods, but humans are creatures of habit and that is why I always tend to go back to my favourite places. I have divided all these places by...</p>
          <div class="fakeimg" style="height:200px;"><!-- <img src="static/books.jpg"> --></div>
      </div>
  </div>
</div>




<!-- <div class="container">
    <div class="row">
        <div class="leftcolumn - 8">
            <div class="card">
                <h2>The Best Skincare For All Skin Types</h2>
                <h5>Published August 3rd, 2022</h5>
                <div class="fakeimg" style="height:200px;"> <img src="static/skincare.jpg" style="width: 40%;" style="height: 20;"></div>
                <a href="post1.html">Finding the perfect skincare for your skin type is a very difficult task. That is why I created this post, in order to help you find what works for you...</a>
    </div>
    <br>
    <br>
    <div class="card">
      <h2>My Top 10 Books </h2>
      <h5>Published August 3rd, 2022</h5>
      <div class="fakeimg" style="height:200px;"><img src="static/books.jpg"></div>
      <p>I've read hundreds of books in my lifetime, so I think that I have the ability to judge books and give you the best recommendations. These books will be in varying genres...</p>
    </div>
  </div> -->

<div class="row">
  <div class="column">
    <div class="card">
        <h2>The Best Summer Playlist</h2>
        <a href="https://music.apple.com/il/playlist/summer-22/pl.u-GgA5YpmuZ99RVlP">Playlist Link</a>
    </div>
  </div>
  <div class="column">
    <div class="card">
        <h3>Product Recommendation</h3>
        <a href="https://www.sephora.com/product/the-ordinary-deciem-niacinamide-10-zinc-1-P427417"> The Ordinary Serum</a>
    </div>
  </div>
  <div class="column">
    <div class="card">
        <div class="fakeimg">
            <h3> Product Recommendation</h3>
            <a href="https://www.apple.com/il/airpods/"> Airpods </a>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
        <h3>Comments</h3>
        <a href="comments.html">Here you can write some comments about my blog!</a>


    </div>
  </div>
</div>


  <!-- <div class="rightcolumn">
    <div class="card">
      <h2>The Best Summer Playlist</h2>
      <div class="fakeimg" style="height:100px;"><img src="static/summer.jpg"></div>
      <a href="https://music.apple.com/il/playlist/summer-22/pl.u-GgA5YpmuZ99RVlP">Playlist Link</a>
    </div>
    <div class="card">
      <h3>Product Recomendations</h3>
      <div class="fakeimg"><img src="static/serum.jpeg"></div><br>
      <div class="fakeimg"><img src="static/airpods.jpeg"></div><br>
      <div class="fakeimg"><img src="staic/tote.jpeg"></div>
    </div>
    <div class="card"> -->
    <!--   <h3>Comments</h3>
      <a href="comments.html">Here you can write some comments about my blog!</a>
    </div>
  </div>
</div> -->

<div class="footer">
  <p> Copyright 2022 @Maya's Blog All Rights Reserved</p>
</div>
</body>
</html>