<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post 1</title>
</head>
<a href="/post1"></a>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
  <a class="active" href="/all_uploads">All Uploads</a>
  <a href="/signout">Sign Out</a>
  <a href="/comments">Comments</a>
</div>
<body>
    <h2> The Best Skincare For All Skin Types</h2>

    <p> Finding the perfect skincare for your skin type is a very difficult task. That is why I created this post, in order to help you find what works for you. In addition to that, it is important to remember that taking care of your skin does not need to be super expensive. In each category I will divide the best options by price range so that if you choose to purchase any of these products you will purchase only what suits your budget. </p>
</body>
</html>



<!-- blog post 1 - example -->