<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<a href="/signup"></a>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/login">Login</a>
  <a class="active" href="/signup">Sign Up</a>
  <a href="/all_uploads">All Uploads</a>
  <a href="/signout">Sign Out</a>
  <a href="/comments">Comments</a>
</div>
<body>
    
   <h1> Sign Up </h1>
   <form action="/signup" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="age" placeholder="age">
    <br>
    <input type="submit" value="Submit">
</form>
   
</body>
</html>