<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Out</title>
</head>
<a href="/signout"></a>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
  <a href="/all_uploads">All Uploads</a>
  <a class="active" href="/signout">Sign Out</a>
  <a href="/comments">Comments</a>
</div>
<body>
    

   <button type="submit" class="btn">Sign Out</button>
</body>
</html>